:root {
    --background-color: #F3E9DC;
    --header-color: #F8B259;
    --text-color: #484848;
    --card-background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: large;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    padding: 1rem;
}

main {
    flex: 1;
}



nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

.place-card {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--card-background-color);
}

.place-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}


.place-name {
    color: var(--header-color);
    text-align: left;
    padding: 10px 0;
}

.price-wrapper {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.place-price {
    font-size: 24px;
    font-weight: bold;
}

.place-price-text {
    font-size: 14px;
    color: var(--text-color);
}


#places-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.review-card {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--card-background-color);
}

.details-button {
    color: var(--text-color);
    background-color: var(--header-color);
    border-color: var(--header-color);
    border-radius:6px;
    padding: 5px ;
    margin: 10px 0;
}

footer {
    padding: 10px 0;
}