:root {
    --background-color: #F3E9DC;
    --header-color: #D96F32;
    --text-color: #484848;
    --card-background-color: #F8B259;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}
header {
    background-color: var(--header-color);
    padding: 1rem;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

.place-card {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--card-background-color);
}

.place-card img {
    display: flex;
    margin: 0 auto;   
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.review-card {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--card-background-color);
}

.place-name {
    color: var(--header-color);
    text-align: center;
}

.place-price {
    color: var(--text-color);
}

.details-button {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--background-color);
    border-radius:3px;
}

footer {
    padding: 10px 0;
}